body {
    background: url("nordwood-themes-483517-unsplash.jpg");
    background-origin: border-box;
    background-size: auto;
    background-clip: border-box;
    margin: 0;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    padding: 10% 15%;
    color: #f0cf91;
    background: #557d90;
}

.item {

    object-fit: contain;
    overflow: hidden;
    align-items: center;
    display: flex;
}

#coffeeDayClock {

    /* Base Styles*/
    /*Basic Button Styles*/
    background-color: hsla(0, 0%, 89%, 0.85);

    border: 0.1em solid rgba(74, 48, 32, 1);

    border-radius: 1.3em;
    color: #4A3020;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: .4em .1em;
    cursor: pointer;
    padding: 0.4em 0.6em;


    /*Text Styles*/
    font-family: 'Raleway', sans-serif;
    /*font: 'Raleway', Arial, Helvetica, Geneva, sans-serif;
*/
}

#systemClock {
    /*Basic Button Styles*/

    background-color: rgba(227, 227, 227, .85);
    border: 0.1em solid rgba(74, 48, 32, 1);
    border-radius: 2.5em;
    color: brown;
    color: #4A3020;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.6em;
    margin: 0.4em 0.2em;
    cursor: pointer;
    padding: 0.7em 0.6em;


    /*Text Styles*/
    font-family: 'Raleway', sans-serif;
    /*font: 'Raleway', Arial, Helvetica, Geneva, sans-serif;
*/
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

#page {
    text-align: center;
}

li {

    display: inline;


}


.header {
    padding: 0.7em 0.5em;
    background: #4a3020;

    background: linear-gradient(bottom, #eee, #e2e2e2), url("mike-kenneally-46284-unsplash.jpg") no-repeat center center;
    background-attachment: fixed;
    -webkit-background-clip: text;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}


#navigation {
    overflow: hidden;
    background: #e2e2e2;
    z-index: 999;
    font-size: 1em;


}

#navicon {
    height: 1.9em;
    width: 1.9em;
    float: left;
    padding: 1% 1%;

    display: inline-block;
}

#navicon:hover {
    transform: rotate(20deg);

}

#navigation h2 {
    color: black; /* Fallback: assume this color ON TOP of image */
    background: url("mike-kenneally-46284-unsplash.jpg") no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    float: right;
    display: inline-block;
    text-shadow: none;
    font-size: 1.6em;
    text-align: center;
    text-decoration: none;
    font-kerning: auto;
    letter-spacing: .15em;
    line-height: normal;
    text-indent: hanging;
    font-weight: bold;
    font-style: normal;
    text-decoration: #4A3020;
    text-transform: capitalize;
    font-family: Lobster, sans-serif;
    font-variant: all-petite-caps;
}

#navigation a {

    text-align: center;
    float: left;
    display: inline-block;
    color: #594431;

    font-family: Lobster, sans-serif;
    padding: 1% 1%;
    text-decoration: none;
    font-size: 2em;

}

#navigation a:hover {
    background-color: #e2e2e2;
    color: black;
}

#navigation a.active {

    border-radius: 1em 1.3em 1.3em;
    background: url("mike-kenneally-46284-unsplash.jpg") no-repeat;
    padding: 1em;


    color: white;
}

.content {
    padding: 1em;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 0.5em;
}




/* BUTTON STYLES */

.button {
    /*Basic Button Styles*/
    background-color: rgba(227, 227, 227, .85);
    border: 0.2em solid;
    border-color: #4A3020;
    border-radius: 1.9em;
    color: #4A3020;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.5em;
    margin: 0.5em 0.2em;
    cursor: pointer;
    padding: 0.4em 0.6em;


    /*Text Styles*/
    font-family: 'Lobster', sans-serif;
    /*font: 'Lobster', Arial, Helvetica, Geneva, sans-serif;
*/
}

.active-button {
    /*Basic Button Styles*/
    background-color: #4A3020;

    border: 0.2em solid;
    border-color: #4A3020;
    border-radius: 1.9em;
    color: #e2e2e2;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.5em;
    margin: 0.5em 0.2em;
    cursor: pointer;
    padding: 0.4em 1em;
    /*Text Styles*/
    font-family: 'Lobster', sans-serif;
    /*  font: 'Lobster', Arial, Helvetica, Geneva, sans-serif;
  */
}

.button:hover {

    box-shadow: 0 1em 1.1em 0 rgba(0, 0, 0, 0.25), 0 1.2em 2em 0 rgba(0, 0, 0, 0.10);
    background: url("mike-kenneally-46284-unsplash.jpg") no-repeat;
    color: #e2e2e2;
}

.active-button:hover {

    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.25), 0 17px 50px 0 rgba(0, 0, 0, 0.10);
    background: url("mike-kenneally-46284-unsplash.jpg") no-repeat;
}


/*FOOTER STUFF*/
footer {
    width: 100%;
    display: inline-block;
    margin: 2em 0;
    height: 80px;
    background-color: #557D90;


}


.copyright {
    width: 50%;
    float: left;
    padding-left: 10%;
    color: #4A3020;
    font-size: 0.5em;

}

.social {
    width: 50%;
    float: right;


}

.social a {
    float: left;
    line-height: 60px;
    text-decoration: none;
    color: #4A3020;
    text-align: center;
    font-weight: bold;
    outline: #e2e2e2;
    outline-style: dashed;

}

.social a:hover {
    background-color: #4A3020;
    color: #e2e2e2;

}

.social a:visited {
    background-color: mediumpurple;
    color: #e2e2e2;

}

.social a:visited:hover {
    background-color: #4A3020;
    color: #e2e2e2;

}

.footerCross {
    background-color: #e2e2e2;
    font-size: 0.5em;
    width: 40%;
    /* border: 0.2em solid #557D90;
     border-radius: 0.5em;*/
}

.footerExt {
    background-color: #e2e2e2;
    font-size: 0.5em;
    /* border: 0.2em solid #557D90;*/
    border-radius: 0.2em;
    width: 40%;
}
