.container {
  padding: 80px 120px;
 	color:#f0cf91;
  background:	#557d90;
}

.header {
  padding: 10px 16px;
  background:#4a3020;
  color: #f1f1f1;
  
  
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

.primarycolor{
  
}
